@inherits ComponentManager

<div id=@SpectrogramPlayerId class="oh-spectrogram-player">
    <img id=@SpectrogramImageId class="oh-spectrogram-image" src=@DetectionItemView.SpectrogramUri alt="Audio image">
    <div id=@SpectrogramProgressIndicatorId class="oh-spectrogram-progress"></div>
    <span id=@SpectrogramProgressTimerId class="oh-spectrogram-timer">00:00 / 00:00</span>
</div>
<div id=@SpectrogramControlsId class="oh-spectrogram-controls">
    <RadzenButton id=@SpectrogramPlayButtonId 
        Variant=Variant.Outlined Size=ButtonSize.Large Icon="play_arrow"
        Click=PlaySpectrogram />
    <RadzenButton id=@SpectrogramPauseButtonId 
        Variant=Variant.Outlined Size=ButtonSize.Large Icon="pause" 
        Click=PauseSpectrogram />
    <RadzenButton id=@SpectrogramStopButtonId Variant=Variant.Outlined Size=ButtonSize.Large Icon="stop" 
        Click=StopSpectrogram />
    <input id=@SpectrogramVolumeControlId type="range" min="0" max="1" step="0.01" value="1">
</div>
