# Each line is a file pattern followed by one or more owners.
# Refer to https://help.github.com/en/articles/about-code-owners

# Order is important; the last matching pattern takes the most
# precedence. Try to keep at least two owners (or an alias) per pattern.

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.

* @dthaler @scottveirs

/.github/ @dthaler @micya @scottveirs
/InferenceSystem/ @micya @akashmjn @truashamu
/ModelEvaluation/ @pastorep @akashmjn
/ModelTraining/ @pastorep @bnestor
/ModeratorFrontEnd/ @micowan @dthaler
/NotificationSystem/ @skanderm @micya @scottveirs @dthaler
