# Automatically opens PRs for dependency updates.
# Can be turned on and off for org or repository via "Code security and analysis" tab .
# See https://docs.github.com/en/code-security/dependabot/dependabot-alerts/configuring-dependabot-alerts
version: 2
updates:
  # Updates GHA dependencies
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
      time: "05:00"
      timezone: America/Los_Angeles
    groups:
      actions:
        patterns:
          - "*"
    open-pull-requests-limit: 3
  - package-ecosystem: nuget
    directory: "/NotificationSystem"
    schedule:
      interval: weekly
      day: "saturday"
    groups:
      actions:
        patterns:
          - "*"
    labels:
      - "dependencies"
      - "notification system"
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
  - package-ecosystem: "pip"
    directory: "/InferenceSystem"
    schedule:
      interval: "weekly"
      day: "saturday"
    allow:
      - dependency-type: "direct"
