@page "/indexfirst"

<h1>Candidate Moderation Dashboard</h1>

<!--
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-3" style="border:1px solid white">Filter</div>
		<div class="col-md-9" style="border:1px solid green">Content</div>
	</div>
</div>
	-->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			Filters
		</div>
		<div class="col-md-10">
			<div class="container-fluid">
				<div class="row">
					@for (int i = 0; i < 20; i++)
					{
						<div class="col-md-3">
							<div class="card mb-4 shadow-sm border-0">
								<img src="../images/sample.png" height="225" width="100%" />
								<div class="card-body">
									<p class="card-text">
										<i class="oi oi-media-play"></i>
										<i class="oi oi-media-pause"></i>
										<i class="oi oi-media-stop"></i>&nbsp;&nbsp;
										<i class="oi oi-media-step-backward"></i>
										<i class="oi oi-media-skip-backward"></i>&nbsp;
										<i class="oi oi-media-skip-forward"></i>
										<i class="oi oi-media-step-forward"></i>
									</p>
									<p class="card-text">Node: Bush Point</p>
									<p class="card-text">Source: AI</p>
									<p class="card-text">Tags: Orca</p>
									<p class="card-text">Probability: 50%</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button type="button" class="btn btn-sm btn-outline-secondary">Approve</button>
											<button type="button" class="btn btn-sm btn-outline-secondary">Reject</button>
											<button type="button" class="btn btn-sm btn-outline-secondary">Analyze</button>
										</div>
										<small class="text-muted">2 mins</small>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>


<div class="l-container">
	<ul>
		<li class="list" data-name="JoeBrown">
			<!-- Profile Section -->
			<div class="list__profile">
				<div>
					<img src="../images/Sample.png">
					<div style="padding-left: 7px">
						<i class="oi oi-media-play"></i>
						<i class="oi oi-media-pause"></i>
						<i class="oi oi-media-stop"></i>&nbsp;&nbsp;
						<i class="oi oi-media-step-backward"></i>
						<i class="oi oi-media-skip-backward"></i>&nbsp;
						<i class="oi oi-media-skip-forward"></i>
						<i class="oi oi-media-step-forward"></i>
					</div>
				</div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> JoeBrown </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>

		<li class="list" data-name="JaneBrown">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/hbr9l7v"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> JaneBrown </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>

		<li class="list" data-name="JoeyBlack123">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/glz9lv7"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> JoeyBlack123 </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>

		<li class="list" data-name="BobbyBlack444">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/glz9lv7"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> BobbyBlack444 </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>
		<li class="list" data-name="JoeBrown">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/glz9lv7"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> JoeBrown </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>

		<li class="list" data-name="JaneBrown">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/hbr9l7v"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> JaneBrown </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>

		<li class="list" data-name="JoeyBlack123">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/glz9lv7"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> JoeyBlack123 </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>

		<li class="list" data-name="BobbyBlack444">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/glz9lv7"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> BobbyBlack444 </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>
		<li class="list" data-name="JoeBrown">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/glz9lv7"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> JoeBrown </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>

		<li class="list" data-name="JaneBrown">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/hbr9l7v"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> JaneBrown </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>

		<li class="list" data-name="JoeyBlack123">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/glz9lv7"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> JoeyBlack123 </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>

		<li class="list" data-name="BobbyBlack444">
			<!-- Profile Section -->
			<div class="list__profile">
				<div> <img src="https://tinyurl.com/glz9lv7"> </div>
				<div class="list__label">
					<div class="list__label--header"> Name </div>
					<div class="list__label--value"> BobbyBlack444 </div>
				</div>
			</div>
			<!-- Photo Thumbnail Section -->
			<div class="list__photos">
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
				<span> <img src="http://placehold.it/320x240"> </span>
			</div>
		</li>

	</ul>

</div>
