<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" 
	 aria-labelledby="loginModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Log In First</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">You must click "Log In" in the upper right-hand corner of the screen before you can click "Submit".</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
