-f https://download.pytorch.org/whl/torch_stable.html
fastai==1.0.61
librosa==0.8.0
pydub==0.24.1
pandas
numpy
torchaudio==0.6.0
git+https://github.com/fastaudio/fastai_audio@0.1
ipython
spacy
awscli
requests
bs4
tqdm
matplotlib
m3u8
torch
torchvision
azure-cosmos
azure-cosmosdb-table
azure-storage-blob
ffmpeg-python
numba==0.48
opencv-python
boto3
pytz
json
opencensus-ext-azure
