@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
	<a class="navbar-brand" href="/">Orcasound</a>
</nav>
<nav class="navbar-nav navbar-expand-lg" style="margin-top:60px;padding-left:40px">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="/">Admin</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">Candidates</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">Users</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">Feeds</a>
		</li>
	</ul>
</nav>
<main role="main">
	@Body
</main>
