#maindiv{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    float: left;
  }
  #img1 {
    position: relative;
    animation: marquee 120s linear infinite;
  }
  
  #img2 {
    position: relative;
    animation: marquee2 120s linear infinite;
    animation-delay: 60s;
  }
  
  .img1_annotation_container {
    position: absolute;
    animation: marquee 120s linear infinite;
  }

  .img2_annotation_container {
    position: absolute;
    animation: marquee2 120s linear infinite;
    animation-delay: 60s;
  }

  .annotation1 {
    position: absolute;
    width: 60px;
    height: 480px;
    background-color: #ffffff;
    border: 4px solid green;
    opacity: 0.2;
    z-index: 20;
  }

  .annotation2 {
    position: absolute;
    width: 60px;
    height: 480px;
    background-color: #ffffff;
    border: 4px solid green;
    opacity: 0.2;
    z-index: 20;
  }

  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee2 {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-200%);
    }
  }