name: InferenceSystem-deploy

on:
  push:
    tags:
      - 'InferenceSystem.v[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch: # Allow manual workflow invocation from the Github Actions UI

concurrency:
  # Cancel any CI/CD workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: InferenceSystem-deploy-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: live-inference-system
      ACR_REGISTRY: orcaconservancycr.azurecr.io
    steps:
    - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Check if ACR secrets are set
      run: |
        if [ -z "${{ secrets.ACR_USERNAME }}" ] || [ -z "${{ secrets.ACR_PASSWORD }}" ]; then
          echo "ACR credentials are missing"
          exit 1
        else
          echo "ACR credentials are set"
        fi

    - name: Free up disk space
      run: |
        echo "Disk space before cleanup:"
        df -h
        # Remove unnecessary packages and cached files
        sudo apt-get clean
        sudo apt-get autoremove -y
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf /usr/local/share/boost
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        sudo rm -rf /usr/local/lib/android
        sudo rm -rf /opt/hostedtoolcache/CodeQL
        sudo rm -rf /usr/local/.ghcup
        sudo rm -rf /usr/share/swift
        # Clean up Docker
        docker system prune -af
        echo "Disk space after cleanup:"
        df -h

    - name: Download model
      working-directory: InferenceSystem
      run: |
        curl -f -o model.zip https://trainedproductionmodels.blob.core.windows.net/dnnmodel/11-15-20.FastAI.R1-12.zip

    - name: Create environment variable file
      working-directory: InferenceSystem
      run: |
        touch .env

    - name: Build docker container
      working-directory: InferenceSystem
      run: |
        docker build . -t live-inference-system -f ./Dockerfile

    - name: List Docker images
      run: docker images

    - name: Get image creation date in MM-DD-YYYY
      run: |
        IMAGE_ID=$(docker images live-inference-system --format "{{.ID}}" | head -n 1)
        CREATED=$(docker inspect --format='{{.Created}}' $IMAGE_ID)
        DATE_STRING=$(date -d "$CREATED" +"%m-%d-%Y")
        echo "DATE_STRING=$DATE_STRING" >> $GITHUB_ENV

    - name: Define full image tag
      run: |
        IMAGE_TAG="$ACR_REGISTRY/live-inference-system:$DATE_STRING.FastAI.R1-12.v0"
        echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

    - name: Tag docker container
      run: |
        docker tag $IMAGE_NAME $IMAGE_TAG

    - name: Docker login to ACR
      run: |
        echo ${{ secrets.ACR_PASSWORD }} | docker login ${{ env.ACR_REGISTRY }} -u ${{ secrets.ACR_USERNAME }} --password-stdin

    - name: Push docker container to ACR
      run: |
        docker push $IMAGE_TAG
