name: NotificationSystem

on:
  pull_request:
    branches:
    - main
    paths:
    - NotificationSystem/**
    - .github/workflows/NotificationSystem.yaml
  push:
    branches:
    - main
    paths:
    - NotificationSystem/**
    - .github/workflows/NotificationSystem.yaml
  workflow_dispatch: # Allow manual workflow invocation from the Github Actions UI

env:
  DOTNET_VERSION: 8.0.x
  DOTNET_RUNTIME: win-x86
  WORKING_DIR: NotificationSystem/NotificationSystem
  PUBLISH_DIR: output
  AZURE_APP_NAME: orcanotification

defaults:
  run:
    working-directory: NotificationSystem/NotificationSystem

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up .NET Core
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Dependencies
      run: dotnet restore -r ${{ env.DOTNET_RUNTIME }}
    - name: Build
      run: dotnet build --no-restore -c Release -r ${{ env.DOTNET_RUNTIME }} --self-contained
    - name: Test
      working-directory: NotificationSystem/NotificationSystemTests
      run: dotnet test --filter "Category!=Cosmos"
    - name: Publish
      run: dotnet publish --no-restore -c Release -o './${{ env.PUBLISH_DIR }}'
    - name: Artifacts cache
      uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
      with:
        path: ./${{ env.WORKING_DIR }}/${{ env.PUBLISH_DIR }}
        key: ${{ github.sha }}-${{ env.AZURE_APP_NAME }}-${{ env.DOTNET_RUNTIME }}-artifacts
  test-windows:
    runs-on: windows-latest
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit
    - name: Start Azure Cosmos DB Emulator for testing
      uses: southpolesteve/cosmos-emulator-github-action@v1
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up .NET Core
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Dependencies
      run: dotnet restore -r ${{ env.DOTNET_RUNTIME }}
    - name: Build
      run: dotnet build --no-restore -c Release -r ${{ env.DOTNET_RUNTIME }} --self-contained
    - name: Install Azure Functions Core Tools
      run: npm install -g azure-functions-core-tools@4 --unsafe-perm true
    - name: Check func CLI
      run: func --version
    - name: Test
      working-directory: NotificationSystem/NotificationSystemTests
      run: dotnet test
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
    - build-ubuntu
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit
    - name: Artifacts cache
      uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
      with:
        path: ./${{ env.WORKING_DIR}}/${{ env.PUBLISH_DIR }}
        key: ${{ github.sha }}-${{ env.AZURE_APP_NAME }}-${{ env.DOTNET_RUNTIME }}-artifacts
    - name: Deploy to Azure Functions
      uses: azure/functions-action@0bd707f87c0b6385742bab336c74e1afc61f6369 # v1.5.3
      with:
        app-name: ${{ env.AZURE_APP_NAME }}
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
        package: ./${{ env.WORKING_DIR }}/${{ env.PUBLISH_DIR }}

