name: NotificationSystem

on:
  pull_request:
    branches:
    - main
    paths:
    - NotificationSystem/**
    - .github/workflows/NotificationSystem.yaml
  push:
    branches:
    - main
    paths:
    - NotificationSystem/**
    - .github/workflows/NotificationSystem.yaml
  workflow_dispatch: # Allow manual workflow invocation from the Github Actions UI

env:
  DOTNET_VERSION: 8.0.x
  DOTNET_RUNTIME: win-x86
  WORKING_DIR: NotificationSystem/NotificationSystem
  PUBLISH_DIR: output
  AZURE_APP_NAME: orcanotification

defaults:
  run:
    working-directory: NotificationSystem/NotificationSystem

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up .NET Core
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Dependencies
      run: dotnet restore -r ${{ env.DOTNET_RUNTIME }}
    - name: Build
      run: dotnet build --no-restore -c Release -r ${{ env.DOTNET_RUNTIME }} --self-contained
    - name: Unit Tests
      working-directory: NotificationSystem/NotificationSystem.Tests.Unit
      run: dotnet test
    - name: Publish
      run: dotnet publish --no-restore -c Release -o './${{ env.PUBLISH_DIR }}'
    - name: Artifacts cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ./${{ env.WORKING_DIR }}/${{ env.PUBLISH_DIR }}
        key: ${{ github.sha }}-${{ env.AZURE_APP_NAME }}-${{ env.DOTNET_RUNTIME }}-artifacts
  test-windows:
    runs-on: windows-latest
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Set up .NET Core
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Dependencies
      run: dotnet restore -r ${{ env.DOTNET_RUNTIME }}
    - name: Build
      run: dotnet build --no-restore -c Release -r ${{ env.DOTNET_RUNTIME }} --self-contained
    - name: Unit Tests
      working-directory: NotificationSystem/NotificationSystem.Tests.Unit
      run: dotnet test
    - name: Integration Tests
      working-directory: NotificationSystem/NotificationSystem.Tests.Integration
      run: dotnet test
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
    - build-ubuntu
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit
    - name: Artifacts cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ./${{ env.WORKING_DIR}}/${{ env.PUBLISH_DIR }}
        key: ${{ github.sha }}-${{ env.AZURE_APP_NAME }}-${{ env.DOTNET_RUNTIME }}-artifacts
    - name: Deploy to Azure Functions
      uses: azure/functions-action@0bd707f87c0b6385742bab336c74e1afc61f6369 # v1.5.3
      with:
        app-name: ${{ env.AZURE_APP_NAME }}
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
        package: ./${{ env.WORKING_DIR }}/${{ env.PUBLISH_DIR }}

