name: NotificationSystem

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
  workflow_dispatch: # Allow manual workflow invocation from the Github Actions UI

env:
  DOTNET_VERSION: 8.0.x
  DOTNET_RUNTIME: win-x86
  WORKING_DIR: NotificationSystem/NotificationSystem
  PUBLISH_DIR: output
  AZURE_APP_NAME: orcanotification

defaults:
  run:
    working-directory: NotificationSystem/NotificationSystem

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      src: ${{ steps.filter.outputs.src }}
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Check for file changes
      uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
      id: filter
      with:
        filters: |
          src:
            - NotificationSystem/**
            - .github/workflows/NotificationSystem.yaml

  build-ubuntu:
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up .NET Core
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Dependencies
      run: dotnet restore -r ${{ env.DOTNET_RUNTIME }}
    - name: Build
      run: dotnet build --no-restore -c Release -r ${{ env.DOTNET_RUNTIME }} --self-contained
    - name: Unit Tests
      working-directory: NotificationSystem/NotificationSystem.Tests.Unit
      run: dotnet test
    - name: Publish
      run: dotnet publish --no-restore -c Release -o './${{ env.PUBLISH_DIR }}'
    - name: Artifacts cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: ./${{ env.WORKING_DIR }}/${{ env.PUBLISH_DIR }}
        key: ${{ github.sha }}-${{ env.AZURE_APP_NAME }}-${{ env.DOTNET_RUNTIME }}-artifacts
  test-windows:
    runs-on: windows-latest
    needs: changes
    if: ${{ needs.changes.outputs.src == 'true' }}
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up .NET Core
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Dependencies
      run: dotnet restore -r ${{ env.DOTNET_RUNTIME }}
    - name: Build
      run: dotnet build --no-restore -c Release -r ${{ env.DOTNET_RUNTIME }} --self-contained
    - name: Unit Tests
      working-directory: NotificationSystem/NotificationSystem.Tests.Unit
      run: dotnet test
    - name: Integration Tests
      working-directory: NotificationSystem/NotificationSystem.Tests.Integration
      run: dotnet test
  deploy:
    if: github.ref == 'refs/heads/main' && needs.changes.outputs.src == 'true'
    runs-on: ubuntu-latest
    needs:
    - changes
    - build-ubuntu
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit
    - name: Artifacts cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: ./${{ env.WORKING_DIR}}/${{ env.PUBLISH_DIR }}
        key: ${{ github.sha }}-${{ env.AZURE_APP_NAME }}-${{ env.DOTNET_RUNTIME }}-artifacts
    - name: Deploy to Azure Functions
      uses: azure/functions-action@0bd707f87c0b6385742bab336c74e1afc61f6369 # v1.5.3
      with:
        app-name: ${{ env.AZURE_APP_NAME }}
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
        package: ./${{ env.WORKING_DIR }}/${{ env.PUBLISH_DIR }}

