name: OrcaHello.Web.UI

on:
  pull_request:
    branches:
    - main
    paths:
    - ModeratorFrontEnd/OrcaHello/OrcaHello.Web.UI/**
    - ModeratorFrontEnd/OrcaHello/OrcaHello.Web.Shared/**
    - .github/workflows/OrcaHello.Web.UI.yaml
  push:
    branches:
    - main
    paths:
    - ModeratorFrontEnd/OrcaHello/OrcaHello.Web.UI/**
    - ModeratorFrontEnd/OrcaHello/OrcaHello.Web.Shared/**
  workflow_dispatch: # Allow manual workflow invocation from the Github Actions UI

env:
  DOTNET_VERSION: 8.0.x
  DOTNET_RUNTIME: win-x86
  WORKING_DIR: ModeratorFrontEnd/OrcaHello/OrcaHello.Web.UI
  PUBLISH_DIR: output
  AZURE_APP_NAME: AIForOrcas2

defaults:
  run:
    working-directory: ModeratorFrontEnd/OrcaHello/OrcaHello.Web.UI

permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
      with:
        egress-policy: audit
    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Set up .NET Core
      uses: actions/setup-dotnet@3951f0dfe7a07e2313ec93c75700083e2005cbab # v4.3.0
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Dependencies
      run: dotnet restore -r ${{ env.DOTNET_RUNTIME }}
    - name: Build
      run: dotnet build --no-restore -c Release -r ${{ env.DOTNET_RUNTIME }}
    - name: Test
      run: dotnet test --no-restore -r ${{ env.DOTNET_RUNTIME }}
    - name: Publish
      run: dotnet publish --no-restore -c Release -o './${{ env.PUBLISH_DIR }}'
    - name: Artifacts cache
      uses: actions/cache@0c907a75c2c80ebcb7f088228285e798b750cf8f # v4.2.1
      with:
        path: ./${{ env.WORKING_DIR }}/${{ env.PUBLISH_DIR }}
        key: ${{ github.sha }}-${{ env.AZURE_APP_NAME }}-${{ env.DOTNET_RUNTIME }}-artifacts
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs:
    - build
    permissions:
      contents: read
    steps:
    - uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
      with:
        egress-policy: audit
    - name: Artifacts cache
      uses: actions/cache@0c907a75c2c80ebcb7f088228285e798b750cf8f # v4.2.1
      with:
        path: ./${{ env.WORKING_DIR}}/${{ env.PUBLISH_DIR }}
        key: ${{ github.sha }}-${{ env.AZURE_APP_NAME }}-${{ env.DOTNET_RUNTIME }}-artifacts
    - name: Deploy to azure
      uses: azure/webapps-deploy@2fdd5c3ebb4e540834e86ecc1f6fdcd5539023ee # v3.0.2
      with:
        app-name: ${{ env.AZURE_APP_NAME }}
        publish-profile: ${{ secrets.AZURE_ORCAHELLO_PUBLISH_PROFILE }}
        package: ./${{ env.WORKING_DIR }}/${{ env.PUBLISH_DIR }}
